body {
    height: 600vh;
}
.hoverunder {
    background-color: #d3d3d375;
    padding: 30px;
    width: 420px;
    height: 625px;
    overflow: hidden;

    .hoverunder-wrapper {
        position: relative;
        width: 100%;
        height: 420px;
        .hoverunder-wrapper-in {
            width: 100%;
            height: 420px;
            overflow: hidden !important;
         
            
        }
    }

    .under-hoverunder {
        background-color: #ffffff;
        width: 100%;
        padding: 45px 20px;
        height: 310px;
        position: absolute;
        bottom: -310px;
        left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition:  1s ;

        h1 {
            margin-bottom: 10px;
            font-size: 35px;
            transition: all 0.3s ease 0s;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            font-weight: 600;
            &:hover {
                color: #ff6600;
            }
        }
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: rgb(110, 119, 125);
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            margin-bottom: 50px;
        }
        .hoverunder-block {
            display: flex;
            align-items: center;
            gap: 35px;
            width: 230px;
            margin-bottom: 15px;
            .FiMail {
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ff6600;
                // left: 55px;
                top: 2px;
                // border-radius: 100px;
            }
            span {
                font-size: 16px;
                color: rgb(110, 119, 125);
            }
        }
    }
    &:hover {
        .under-hoverunder {
            bottom: -200px;
            height: 360px;
        }
        img {
            transform: scale(1.3);
        }
    }
    img{
        transform: scale(1);
        transition: 1.3s ;
        
    }
}
