.out-subscribe {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(18, 16, 16);
    position: relative;
    height: 300px;
    &::after{
        content: '';
        position: absolute;
        width: 1315px;
        height: 1px;
        background-color: #6e777d;
        top: 90%;
    }
    .in-subscribe {
        width: 1315px;
        height: 240px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            color: rgb(255, 255, 255);
            font-weight: 700;
            font-size: 31px;
            line-height: 40px;
            text-transform: uppercase;
            margin-bottom: 0px;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
            text-align: left;
        }
        .input-button {
            display: flex;
            input {
                height: 60px;
                width: 537px;
                padding-right: 180px;
                padding: 10px;
                font-size: 16px;
                color: rgb(255, 255, 255);
                background: rgb(26, 26, 26);
                border-width: 1px;
                border-style: solid;
                border-color: rgb(34, 34, 34);
                border-image: initial;
            }
            .nachat {
                height: 60px;
                display: flex;
                align-items: center;
                background: #ff6600;
                padding: 17px 33px;
                border: none;
                color: #fff;
                position: relative;
                overflow: hidden;
                z-index: 1;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    
                line-height: 10px;
                max-width: max-content;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                transition: 0.3s;
                border-radius: 2px;
                min-width: max-content;
                letter-spacing: 2px;
                position: relative;
                .overlay {
                    position: absolute;
                    top: 60px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #0c0a0a;
                    transition: all 0.3s;
                }
                &:hover {
                    span {
                        color: #fff !important;
                        z-index: 99999;
                    }
                    .overlay {
                        top: 0;
                    }
                }
                &:active {
                    box-shadow: 3px 2px 0px;
                    margin-left: 2px;
                }
            }
        }
    }
}
@media  only screen and (max-width:1390px) {
    .out-subscribe{
        &::after{
            top: 80%;
            width: 1125px;
            display: none;
        }
        .in-subscribe{
            width: 1125px;
            h1{
                font-size: 24px
            }
            .input-button{
                input{
                    width: 470px;
                }
            }
        }
    }
    
}
@media  only screen and (max-width:1200px) {
    .out-subscribe{
        &::after{
            top: 80%;
            width: 1125px;
            display: none;
        }
        .in-subscribe{
            width: 960px;
            h1{
                font-size: 20px
            }
            .input-button{
                input{
                    width: 400px;
                }
                .nachat{
                    padding: 17px 24px;
                    font-size: 14px;
                    letter-spacing: 1px;
                }
            }
        }
    }
    
}
