*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button-dad{
    position: fixed;
    right: 30px;
    bottom: 30px;
  
    cursor: pointer !important;
    display: block;
    z-index: 10000;
    opacity: 1;
    transform: translateY(15px);
    transition: all 200ms linear;
    display: flex;
    align-items: center;
    justify-content: center;
    .button-son{
    cursor: pointer !important;

        padding: 5px 10px;
        background:#fff;
        height: 46px;
        width: 46px;
        border:3px #ff6600 solid;
        color: #ff6600;
        font-size: 20px;
    border-radius: 50px;

    }

}
