.App {
  text-align: center;
}


.out-triimages{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.in-triimages{
  width: 1315px;
  display: flex;
  justify-content: space-between;
}